@charset "utf-8";
/* CSS Document */
/*初始化*/
html { background: #f3f3f3; }
body { width: 640px; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { word-wrap: break-word;//word-break设置强行换行;normal 亚洲语言和非亚洲语言的文本规则，允许在字内换行
word-break: normal;  margin:0; padding:0; font-family:幼圆 }
body { background:#fff; color:#fff; font-size:2.8em; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#8c8c8c; text-decoration:none; }
a:hover { color: #000000; text-decoration:none;}
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

/* 自定义样式区 */
.dv_title { width: 640px; padding-bottom: 40px;}
.dv_bodytop { padding: 23 20 70 20; margin-top: 0px; color: #000;}
.dv_body { padding: 0 20 40 20; margin-top: -30px; color: #000; }
.dv_bottom { position: fixed; bottom: 0px; height: 74px; width: 640px;}

.hrs { padding: 0 10 0 0; margin-top: 5px; height:1px; border:none; border-top:1px dashed #777333; }
.hr_dv { background: #f3f3f3; height: 20px; margin-top: 22px;}
.tm { margin: -5 6 0 0;}

.run2 { padding-left: 20px;}
.run3 { padding-left: 24px;}

.font_title { width: 70%; font-size: 30px; color: #373737; padding: 28 0 0 20; float: left; }
.font_money { width: 30%; font-size: 36px; color: #ff5555; padding: 25 20 10 0; float: left; text-align: right;}

.ser_bod { padding: 0 0 0 22; color: #5a5a5a; font-size: 20px; }
.ser_box { height: 3px; background: #ff7070; width: 120px; margin-top: -2px; margin-left: 9px; position:absolute}
.ser_title { height: 46px; color: #8c8c8c; bottom: 15px;  border-bottom: 1px #8c8c8c solid;}
.ser_title ul li { float: left; font-size: 24px; text-align: center;}
.ser_text_title { font-size: 24px; color: #464646;}
.ser_text_body { font-size: 22px; color: #646464; padding-top: 7px; padding-bottom: 70px;}
.ser_goods { font-size: 22px; color: #646464; text-align: center; width: 25%; margin-bottom: 70px; float: left;}

.btn_porject { border-radius: 7px; border-style:solid; border-width:1px; background: #fff; width: 113px; height: 38px; line-height: 38px; text-align: center; margin: -10 0 0 0;}
.btn_time { border-color: #5a74f5; color: #5a74f5; margin: -4 22 11 0; font-size: 20px; background:transparent; float: right; margin-right: 23px;}
.btn_bottoms {font-size: 28px; font-weight: 300; float: left; border: 0px; height: 100% }
.btn_phone { width: 58%; background: #555555; }
.btn_click { width: 42%; background: #ff6363; }