@charset "utf-8";
/* CSS Document */
/*初始化*/
html { margin: 0; padding: 0; }
body { margin: 0; padding: 0; font-family:Arial,"Microsoft YaHei" }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { word-wrap: break-word;//word-break设置强行换行;normal 亚洲语言和非亚洲语言的文本规则，允许在字内换行
word-break: normal;  margin:0; padding:0; }
body { color:#000; font-size:2.8em; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#000; text-decoration:none; cursor: pointer; }
a:hover { color: #000; text-decoration:none;}
img { border:none; }
ol,ul,li { list-style:none; color: #000; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.main { width: 750px; margin: 0 auto; }

#destination { 
	width:750px; 
	height: 93%;
	overflow: auto; 
	font-size: 26px; 
	padding: 14 14 100 14;
	background: #fff;
}

.btm-fixed {
	position: fixed;
	bottom: 0px;
	width: 750px;
	height: 100px;
	padding: 0 34 0 0;
    background: #fff;
}	
.fileInputContainer{
    width: 40px;
    height:40px;
    background: red;
    position:relative;
    margin-top: 30px;
    float: right;
	background: red;
}
.fileInput{
    height:40px;
    font-size: 40px;
    position:absolute;
    right:0;
    top:0;
    opacity: 0;
    filter:alpha(opacity=0);
    cursor:pointer;
}

footer {
    width: 100%;
    font-size: 12px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 20px 0;
}

footer a {
    color: #777;
}

input {
    display: none;
}