@charset "utf-8";
/* CSS Document */
/*初始化*/
html { margin: 0; padding: 0; }
body { margin: 0; padding: 0; font-family:Arial,"Microsoft YaHei" }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { word-wrap: break-word;//word-break设置强行换行;normal 亚洲语言和非亚洲语言的文本规则，允许在字内换行
word-break: normal;  margin:0; padding:0; }
body { color:#000; font-size:2.8em; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#000; text-decoration:none; cursor: pointer; }
a:hover { color: #000; text-decoration:none;}
img { border:none; }
ol,ul,li { list-style:none; color: #000; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.main { width: 750px; margin: 0 auto; }


#imgUpload { }
#destination { width:750px; height: 98%; overflow: auto; border:1px solid #000000; color: #333; font-size: 26px; padding: 20 20 100 20; }

