.bnrmag { width: 100%; height: 410px; }

.activity { height: 80px; background-color: #f0f0f0; }
.activity li { float: left; font-size: 28px; color: #333333; width: 50%; text-align: center; line-height: 80px; }
.activity img { margin-right: 10px; margin-bottom: 2px; }

#fnt1 { color: #0faadd; }
#line { height: 1px; width: 270px; margin-left: 60px; margin-top: -2px; border-bottom: 2px #0faadd solid; }

/* 1 主题 */
.main_info { padding: 32 20 30 20; background-color: #fff; height: 220px;  }
.minfos:nth-child(1) { float: left; width: 77%; }
.minfos:nth-child(2) { float: left; width: 23%; color: #ef3231; font-size: 44px; text-align: right;}

.minfos p { height: 40px;}
.minfos p:nth-child(1){ font-size: 30px; color: #333; margin-bottom: 14px; }
.minfos p:nth-child(2){ font-size: 26px; color: #656565; }
.minfos p:nth-child(3){ font-size: 26px; color: #656565; }

/* 2 支持 */
.dv_support { background: #fff; height: 110px; padding: 0 20 0 20; margin-top: 20px; }

.sup_font { width: 22%; float: left; font-size: 24px; color: #323232; padding-top: 36px; }
.sup_mags { width: 78%; float: left; padding: 25 0 0 24; word-spacing: 4px; letter-spacing: 4px; }

.sup_font font:nth-of-type(1){ color: #ff2424; }

/* 3 活动介绍 */
.mainactivity { width: 100%; height: auto; padding: 22 20 20 20; margin-top: 20px; background-color: #fff; 
	font-size: 26px; color: #656565; word-spacing: 3px; letter-spacing: 3px; }
.mainactivity p:nth-child(1) { font-size: 28px; color: #505050; }

#hrs { color: #f0f0f0; }

/* 标签 */
.tit_label { font-size: 18px; color: #fff; width:78px; height:25px; line-height: 25px; text-align: center;
	border-radius: 8px; background-color: #0faadd; margin-left: 7px; display: inline-block; }

.labels { width: 100%; height: 60px; margin-top: 38px; }

.bod_info { font-size: 26px; color: #646464; padding: 28 10 30 10; letter-spacing: 2; word-spacing: 2; }
.bod_label { font-size: 26px; text-align: center; width: 86px; height: 36px; background-color: #eff0f1; float: left; margin: 0 10 0 10; }
.bod_bottoms { padding: 20 0 20 0;height: 40px; }
.bod_bottoms ul li { width: 33%; float: left; text-align: center; font-size: 24px; color: #727374; border-left: 1px #f0f0f0 solid; }

/* 活动方 */
.activity_info { height: 400px; margin-top: 20px; padding: 0 20 0 20; background-color: #fff; }

.ainfo_title { font-size: 26px; color: #656565; height: 62px; line-height: 62px; border-bottom: 1px #f0f0f0 solid; }
.ainfo_body { width: 100%; height: 120px; padding: 30 0 30 0; }

.ainfo_mags { float: left; width: 13%; }
.ainfo_serve { float: left; width: 70%; padding: 10 0 0 12; }
.ainfo_on { float: left; width: 17%; padding: 24 0 0 0; }

#fonts_name { font-size: 26px; color: #323232; }
#fonts_activity { font-size: 24px; color: #646464; }

.btn_attention_on { width: 82px; height: 40px; line-height: 40px; text-align: center; border: 1px #0eaadd solid; 
	font-size: 24px; color: #0faadd; float: right; border-radius: 3px; }
.btn_attention_ck {  width: 82px; height: 40px; line-height: 40px; text-align: center; background-color: #0eaadd;
	font-size: 24px; color: #fff; float: right; border-radius: 3px; }

.mags { width: 90%; }







