@charset "utf-8";
/* CSS 全程初始化 */
html { padding: 0; margin: 0; height: 100%; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { word-wrap: break-word;//word-break设置强行换行;normal 亚洲语言和非亚洲语言的文本规则，允许在字内换行
word-break: normal;  margin:0; padding:0; font-family: "微软雅黑"; }
body { color:#000; font-size:2.8em; font-family: "微软雅黑"; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#fff; text-decoration:none; cursor: pointer; blr:expression(this.onFocus=this.blur()); }
a:hover { color: #fff; text-decoration:none;}
a:focus{outline:none;}/*firlfox*/
a.hidefocus{outline:none}
img { border:none; }
ol,ul,li { list-style:none; }
input, button ,textarea, select { font: 16px "微软雅黑"; padding: 0; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

.main { width: 750px; background-color: #f5f6f7; margin: 0 auto; }