/* 主题 */
.bodys {
	width: 100%;
}

.bod-Title {
	height: 150px;
	padding: 26 20 0 20;
	background-color: #fff;
}

.bod-Title>div:nth-of-type(1) {
	width: 80%;
	height: 140px;
	float: left;
	padding: 6 0 0 0;
}

.bod-Title>div:nth-of-type(2) {
	width: 20%;
	height: 140px;
	float: left;
}

.bod-Title div p {
	font-size: 30px;
	color: #333333;
	padding-bottom: 4px;
}

.bod-Title div p span {
	font-size: 20px;
	color: #656565;
}

.bod-Time {
	padding-left: 20px;
}

.btn-Collect-on {
	width: 82px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #0eaadd;
	font-size: 24px;
	color: #fff;
	float: right;
	border-radius: 3px;
	margin-top: 10px;
}

.btn-Collect {
	width: 82px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px #0eaadd solid;
	font-size: 24px;
	color: #0eaadd;
	float: right;
	border-radius: 3px;
	margin-top: 10px;
}

/* 正文 */
.mainactivity {
	width: 100%;
	height: auto;
	padding: 16 20 100 20;
	background-color: #fff;
	font-size: 26px;
	color: #656565;
	word-spacing: 1px;
	letter-spacing: 1px;
}

.mBodys {
	font-size: 24px;
}

.mBodys img {
	margin: 8 0 8 0;
}

/* 作者信息 */
.author-Infos { 
	height: 100px; 
	text-align: right; 
	font-size: 20px; 
	color: #656565;
	line-height: 34px;
	padding-top: 60px;
 }

 /* 赞 && 更多评论 */

.btm-Style {
	position: fixed;
	bottom: 0;
	width: 750px;
	height: 80px;
	color: #868788;
	background-color: #fff;
}

.btm-Style ul li {
	float: left;
	width: 50%;
	text-align: center;
	height: 80px;
	line-height: 80px;
}

.btm-Style li:nth-child(1){
	border-top: 1px #f1f0f2 solid;
	border-right: 1px #f1f0f2 solid;
}

.btm-Style li:nth-child(2){
	border-top: 1px #f1f0f2 solid;
	border-left: 1px #f1f0f2 solid;
}

.mag:nth-of-type(1) {
	margin-top: -5px;
}

.mag:nth-of-type(2) {
	margin-top: -4px;
}

