a {
	color: #976942;
}
.wrap {  
	width: 750px;
	height: auto;
	padding: 224 73 224 73;
	margin: 0 auto;
}

.main {
	width: 100%;
	height: auto;
	text-align: left;
	font-size: .9em;
	color: #d49f72;
}
.main p {
	margin-top: 50px;
}