/* 主题 */

.bodys {
	width: 100%;
}

.bod-Title {
	height: 150px;
	padding: 26 20 0 20;
	background-color: #fff;
}

.bod-Title>div:nth-of-type(1) {
	width: 80%;
	height: 140px;
	float: left;
	padding: 6 0 0 0;
}

.bod-Title>div:nth-of-type(2) {
	width: 20%;
	height: 140px;
	float: left;
}

.bod-Title div p {
	font-size: 30px;
	color: #333333;
	padding-bottom: 4px;
}

.bod-Title div p span {
	font-size: 20px;
	color: #656565;
}

.bod-Time {
	padding-left: 20px;
}

.btn-Collect-on {
	width: 82px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #0eaadd;
	font-size: 24px;
	color: #fff;
	float: right;
	border-radius: 3px;
	margin-top: 10px;
}

.btn-Collect {
	width: 82px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px #0eaadd solid;
	font-size: 24px;
	color: #0eaadd;
	float: right;
	border-radius: 3px;
	margin-top: 10px;
}

/* 正文 */
.mainactivity {
	width: 100%;
	height: auto;
	padding: 0 20 20 20;
	background-color: #fff;
	font-size: 26px;
	color: #656565;
	word-spacing: 1px;
	letter-spacing: 1px;
}

/* 标签 */
.tit_label {
	font-size: 18px;
	color: #fff;
	width: 78px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 8px;
	background-color: #0faadd;
	margin-left: 7px;
	display: inline-block;
}

.labels {
	width: 100%;
	height: 60px;
	margin-top: 38px;
}

.bod_info {
	font-size: 26px;
	color: #646464;
	padding: 28 10 30 10;
	letter-spacing: 1;
	word-spacing: 1;
}

.bod_label {
	min-width: 86px;
	width: auto;
	height: 36px;
	margin: 0 10 0 10;
	padding: 0 7 0 7;
	background-color: #eff0f1;
	float: left;
	font-size: 26px;
	color: #333;
	text-align: center;
}

.bod_bottoms {
	padding: 20 0 20 0;
	height: 40px;
}

.bod_bottoms ul li {
	width: 33%;
	float: left;
	text-align: center;
	font-size: 24px;
	color: #505050;
	border-left: 1px #f0f0f0 solid;
}

.mBodys {
	font-size: 24px;
}

.mBodys img {
	margin: 8 0 8 0;
	width: 100%;
}

.mag {
	margin-top: -4px;
}

/* 评论 */
.dv_commentary {
	height: auto;
	width: 100%;
	padding: 20 20 0 20;
	margin-top: 20px;
	background: #fff;
}

.comm_all {
	font-size: 30px;
	height: 70px;
	line-height: 70px;
	color: #6a6b6c;
	text-align: center;
}

.comm_info {
	height: auto;
	padding: 14 0 50 0;
}

.comm_info div:nth-of-type(1) {
	width: 10%;
	float: left;
	text-align: left;
}

.comm_info div:nth-of-type(2) {
	width: 90%;
	float: left;
	padding-left: 10px;
	font-size: 24px;
}

.comm_info div:nth-of-type(3) {
	width: 100%;
	height: auto;
	font-size: 22px;
	color: #656565;
	margin-top: 20px;
	padding-left: 80px;
	letter-spacing: 1px;
	word-spacing: 1px;
}

.spn_name {
	color: #505050;
	font-size: 24px;
}

.spn_time {
	color: #787878;
	font-size: 22px;
}

.reply {
	width: 634px;
	background-color: #e2e3e4;
	margin: 20 0 0 64px;
	letter-spacing: 1px;
	word-spacing: 1px;
	padding: 20 20 20 20;
}

.reply li {
	font-size: 24px;
	color: #505050;
	height: auto;
}

.reply li font {
	color: #0faadd;
}

#triangle {
	width: 0px;
	height: 0px;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 13px solid #e2e3e4;
	position: relative;
	left: 86px;
	top: 22px;
}

/* 支持 */
.dv_support {
	background: #fff;
	height: 110px;
	padding: 0 20 0 20;
	margin-top: 20px;
}

.sup_font {
	width: 22%;
	float: left;
	font-size: 24px;
	color: #323232;
	padding-top: 36px;
}

.sup_mags {
	width: 78%;
	float: left;
	padding: 25 0 0 24;
	word-spacing: 1px;
	letter-spacing: 1px;
}

.sup_font font:nth-of-type(1) {
	color: #ff2424;
}

#hrs {
	color: #f5f5f5;
	margin-bottom: 0;
	margin: 40 0 0 64px;
}